


 /*
 * Dashboard Profile Table
 */

 #profile .container table tbody tr th,  #profile .container table tbody tr td{
    padding: 20px 10px;
 }

 .edit-my-profile .container table .form-control{
    margin-bottom: 0;
 }

  .edit-my-profile .container table tr th label{
    margin-top: 10px;
  }

  .user-profile-info h2{
    font-size: 28px;
    font-weight: bold;
  }

 .edit-profile-button, .update-submit-button{
    margin-bottom: 25px;
 }

 /*
 *  Broker Page StyleSheet 
 */

 .container.extra-button{
  padding-bottom: 20px;
 }

